//- head.jade
div.navbar.navbar-fixed-top.navbar-inverse.top-nvaigation
	div.navbar-inner
		div.container-fluid
			a.brand
				small
					i.icon-asterisk
					| My Aquarium Controller
			
			ul.nav.pull-right
				li.grey
					a(href="#", data-toggle="dropdown").dropdown-toggle
						i.icon-tasks
						span.badge 4

			ul.nav.pull-right
				li.green
					a(href="#", data-toggle="dropdown").dropdown-toggle
						i.icon-bell-alt.icon-animated-bell.icon-only
						span.badge.badge-success 8
