//- sidebar.jade

div#sidebar
	ul.nav.nav-list
		li
			a(href="/dashboard") 
				i.icon-dashboard
				span Dashboard

		li
			a(href="/tasks") 
				i.icon-th-list
				span Task

		li
			a(href="#") 
				i.icon-smile
				span Tank Inhabitants

		li
			a(href="#") 
				i.icon-rocket
				span Equipment

		li
			a(href="#") 
				i.icon-wrench
				span Manual Control

		li
			a(href="#") 
				i.icon-cogs
				span Configurations
