


//- dashboard.jade

h1 Tank Inhabitants
p this page will display all tasks, and allow the user to add new ones too

p
	a(href="/tank-inhabitants/add").btn.span2.push1 Add New
	a(href="/tank-inhabitants/add").btn.span2.push1 Sort By Name
	a(href="/tank-inhabitants/add").btn.span2.push1 Sort By Date

